.header {
    height: 15vw;
}
.drone {
    height: 60vw;
    background-image: url("/assets/drone.jpg");
    background-size: cover;
}
.localisation{
    border: solid 1px black;
    border-radius: 30px;
    padding: 5px;
}
.logo{
    width: 150px;
}
.logoLoca {
    width: 15px;
    height: 15px;
}