.headerMain {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.main {
    background-color: #f5f6f7;
}

.logo {
    padding-top: 25px;
}
.search {
    height: 70px;
    width: 80px;
}

.urgent {
    padding-top: 80px;
}

.login {
    padding-top: 75px;
}